.modem-lock-cards-sect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modem-lock-cards-title {
    text-align: center;
    color: var(--very-dark-blue);
}
.modem-lock-title-desc {
    color: var(--very-dark-blue);
}
.modem-lock-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--dark-blue);
    background-color: var(--white);
    border: none;
    box-shadow: 1px 1px 12px 1px var(--shadow);
}
.modem-lock-card:hover {
    cursor: pointer;
    background-color: var(--very-light-gray);
    box-shadow: 1px 1px 24px 2px var(--shadow);
}
.modem-lock-card:active {
    cursor: pointer;
    color: var(--very-light-gray);
    background-color: var(--dark-blue);
    box-shadow: 1px 1px 36px 8px var(--shadow);
}

@media only screen and (max-width: 375px) {
    .modem-lock-cards-sect {
        width: 350px;
        height: 100%;
    }
    .modem-lock-cards-title {
        margin: 96px 0px 0px 0;
        width: 300px;
        font-size: 32px;
    }
    .modem-lock-title-desc {
        margin: 12px 0 24px 0;    
    }
    .modem-lock-cards-cont {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .modem-lock-card {
        margin: 0 0 24px 0;
        width: 280px;
        height: 182px;
        border-radius: 12px;
    }
    .modem-lock-card-title {
        width: 220px;
        font-size: 18px;
    }
}

@media only screen and (min-width: 375px) {
    .modem-lock-cards-sect {
        width: 350px;
        height: 100%;
    }
    .modem-lock-cards-title {
        margin: 96px 0px 0px 0;
        width: 300px;
        font-size: 32px;
    }
    .modem-lock-title-desc {
        margin: 12px 0 24px 0;
        font-size: 14px;
    }
    .modem-lock-cards-cont {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .modem-lock-card {
        margin: 0 0 24px 0;
        width: 280px;
        height: 182px;
        border-radius: 12px;
    }
    .modem-lock-card-title {
        width: 220px;
        font-size: 18px;
    }
}
@media only screen and (min-width: 768px) {
    .modem-lock-cards-sect {
        width: 624px;
        height: 100%;
    }
    .modem-lock-cards-title {
        margin: 64px 0px 12px 0;
        width: 600px;
        font-size: 38px;
    }
    .modem-lock-title-desc {
        margin: 0 0 48px 0;
        font-size: 16px;
    }
    .modem-lock-cards-cont {
        margin: 0 0 24px 0;
        width: 624px;
        height: 70%;
        display: grid;
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(3, 195px);
        gap: 24px;
    }
    .modem-lock-card {
        margin: 0px;
        width: 300px;
        height: 195px;
        border-radius: 12px;
    }
    .modem-lock-card-title {
        width: 220px;
        font-size: 20px;
    }
}
@media only screen and (min-width: 1200px) {
    .modem-lock-cards-sect {
        margin: 0 0 36px 0;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
    }
    .modem-lock-cards-title {
        margin: 164px 0px 12px 0;
        width: 900px;
        font-size: 46px;
    }
    .modem-lock-title-desc {
        margin: 0 0 48px 0;
        font-size: 18px;
    }
    .modem-lock-cards-cont {
        margin: 0;
        width: 1144px;
        height: 1032px;
        display: grid;
        grid-template-columns: repeat(3, 360px);
        grid-template-rows: repeat(2, 234px);
        gap: 32px;
    }
    .modem-lock-card {
        margin: 0 0 0px 0;
        width: 360px;
        height: 234px;
        border-radius: 12px;
    }
    .modem-lock-card-title {
        width: 220px;
        font-size: 24px;
    }
}