.pnp-cards-sect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pnp-title {
    text-align: center;
    color: var(--very-dark-blue);
}
.pnp-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--dark-blue);
    background-color: var(--white);
    border: none;
    box-shadow: 1px 1px 12px 1px var(--shadow);
}
.pnp-card:hover {
    cursor: pointer;
    background-color: var(--very-light-gray);
    box-shadow: 1px 1px 24px 2px var(--shadow);
}
.pnp-card:active {
    cursor: pointer;
    color: var(--very-light-gray);
    background-color: var(--dark-blue);
    box-shadow: 1px 1px 36px 8px var(--shadow);
}


@media only screen and (max-width: 375px) {
    .pnp-cards-sect {
        width: 350px;
        height: 100%;
    }
    .pnp-title {
        margin: 96px 0px 48px 0;
        width: 300px;
        font-size: 32px;
    }
    .pnp-cards-cont {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pnp-card {
        margin: 0 0 24px 0;
        width: 280px;
        height: 182px;
        border-radius: 12px;
    }
    .pnp-card-title {
        width: 220px;
        font-size: 18px;
    }
}

@media only screen and (min-width: 375px) {
    .pnp-cards-sect {
        width: 350px;
        height: 100%;
    }
    .pnp-title {
        margin: 96px 0px 48px 0;
        width: 300px;
        font-size: 32px;
    }
    .pnp-cards-cont {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pnp-card {
        margin: 0 0 24px 0;
        width: 280px;
        height: 182px;
        border-radius: 12px;
    }
    .pnp-card-title {
        width: 220px;
        font-size: 18px;
    }
}
@media only screen and (min-width: 768px) {
    .pnp-cards-sect {
        width: 624px;
        height: 100vh;
    }
    .pnp-cards-title {
        margin: 64px 0px 48px 0;
        width: 600px;
        font-size: 38px;
    }
    .pnp-cards-cont {
        margin: 0 0 24px 0;
        width: 624px;
        height: 70%;
        display: grid;
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(3, 195px);
        gap: 24px;
    }
    .pnp-card {
        margin: 0px;
        width: 300px;
        height: 195px;
        border-radius: 12px;
    }
    .pnp-card-title {
        width: 220px;
        font-size: 20px;
    }
}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}