.peak-exit-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.peak-exit-title {
    text-align: center;
    color: var(--very-dark-blue);
}
.peak-exit-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--dark-blue);
    background-color: var(--white);
    border: none;
    box-shadow: 1px 1px 12px 1px var(--shadow);
}
.peak-exit-card:hover {
    cursor: pointer;
    background-color: var(--very-light-gray);
    box-shadow: 1px 1px 24px 2px var(--shadow);
}
.peak-exit-card:active {
    cursor: pointer;
    color: var(--very-light-gray);
    background-color: var(--dark-blue);
    box-shadow: 1px 1px 36px 8px var(--shadow);
}

/* LIGHT AND DARK MODE */
.dark-title {
    color: var(--very-light-gray);
}
.light-title {
    color: var(--very-dark-blue);
}
.dark-card {
    color: var(--very-light-gray);
    background-color: var(--dark-blue);
}
.light-card {
    color: var(--dark-blue);
    background-color: var(--white);
}
.dark-card:hover {
    background-color: var(--very-dark-blue-light-mode-text);
}
.light-card:hover {
    background-color: var(--very-light-gray);
}
.dark-card:active {
    color: var(--dark-blue);
    background-color: var(--very-light-gray);
}
.light-card:active {
    color: var(--very-light-gray);
    background-color: var(--dark-blue);
}

@media only screen and (max-width: 375px) {
    .peak-exit-page {
        width: 350px;
        height: 100vh;
    }
    .peak-exit-title {
        margin: 96px 0px 48px 0;
        width: 300px;
        font-size: 32px;
    }
    .peak-exit-cards-cont {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .peak-exit-card {
        margin: 0 0 24px 0;
        width: 280px;
        height: 182px;
        border-radius: 12px;
    }
    .peak-exit-card-title {
        width: 220px;
        font-size: 18px;
    }
}

@media only screen and (min-width: 375px) {
    .peak-exit-page {
        width: 350px;
        height: 100vh;
    }
    .peak-exit-title {
        margin: 96px 0px 48px 0;
        width: 300px;
        font-size: 32px;
    }
    .peak-exit-cards-cont {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .peak-exit-card {
        margin: 0 0 24px 0;
        width: 280px;
        height: 182px;
        border-radius: 12px;
    }
    .peak-exit-card-title {
        width: 220px;
        font-size: 18px;
    }
}
@media only screen and (min-width: 768px) {
    .peak-exit-page {
        margin: 0;
        display: flex;
        justify-content: flex-start;
        width: 624px;
        height: 100vh;
    }
    .peak-exit-title {
        margin: 128px 0px 48px 0;
        width: 600px;
        font-size: 38px;
    }
    .peak-exit-cards-cont {
        margin: 0 0 24px 0;
        width: 624px;
        height: 414px;
        display: grid;
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(2, 195px);
        gap: 24px;
    }
    .peak-exit-card {
        margin: 0px;
        width: 300px;
        height: 195px;
        border-radius: 12px;
    }
    .peak-exit-card-title {
        width: 220px;
        font-size: 20px;
    }
}
@media only screen and (min-width: 1200px) {
    .peak-exit-page {
        margin: 0;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        height: 100vh;
    }
    .peak-exit-title {
        margin: 164px 0px 48px 0;
        width: 900px;
        font-size: 46px;
    }
    .peak-exit-cards-cont {
        margin: 0;
        width: 1144px;
        height: 500px;
        display: grid;
        grid-template-columns: repeat(3, 360px);
        grid-template-rows: repeat(2, 234px);
        gap: 32px;
    }
    .peak-exit-card {
        margin: 0 0 0px 0;
        width: 360px;
        height: 234px;
        border-radius: 12px;
    }
    .peak-exit-card-title {
        width: 220px;
        font-size: 24px;
    }
}