.no-internet-connection-cards-sect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.no-internet-connection-cards-title {
    text-align: center;
    color: var(--very-dark-blue);
}
.no-internet-connection-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--dark-blue);
    background-color: var(--white);
    border: none;
    box-shadow: 1px 1px 12px 1px var(--shadow);
}
.no-internet-connection-card:hover {
    cursor: pointer;
    background-color: var(--very-light-gray);
    box-shadow: 1px 1px 24px 2px var(--shadow);
}
.no-internet-connection-card:active {
    cursor: pointer;
    color: var(--very-light-gray);
    background-color: var(--dark-blue);
    box-shadow: 1px 1px 36px 8px var(--shadow);
}

@media only screen and (max-width: 375px) {
    .no-internet-connection-cards-sect {
        width: 350px;
        height: 100vh;
    }
    .no-internet-connection-cards-title {
        margin: 96px 0px 48px 0;
        width: 300px;
        font-size: 32px;
    }
    .no-internet-connection-cards-cont {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .no-internet-connection-card {
        margin: 0 0 24px 0;
        width: 280px;
        height: 182px;
        border-radius: 12px;
    }
    .no-internet-connection-card-title {
        width: 220px;
        font-size: 18px;
    }
}

@media only screen and (min-width: 375px) {

}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}